@import "/src/globals.scss";
#selectorMain {
  width: 100%;
  padding: 0 8%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  #dishOptions {
    width: 100%;
    margin-top: 50px;
    input[type=range] {
        appearance: none;
        background-color: $secondary;
        width: 400px;
    }
  }
}
