@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

$secondary: #f5f6ea;
$primary: #d542159e;
$black: rgb(0, 0, 0);
$grey: rgb(57, 57, 57);

$logofont: 'Pacifico', cursive;
$mainfont: 'Montserrat Alternates', sans-serif;

* {
    font-family: $mainfont;
    font-weight: 500;
    box-sizing: border-box;
}
body {
    background-color: $secondary;
}
.App {
    min-height: calc(100vh - 168px);
}
header {
    background-color: $primary;
    display: flex;
    justify-content: center;
    #headerLogo {
        font-family: $logofont;
        font-size: 48px;
        color: white;
    }
}
footer {
    height: 84px;
    background-color: $primary;
}